.contact-info{
    margin-left: 3%;
   
}

.social-media{
    margin-right: 3%;
    margin-top: -86px;
}

.contact-info-new{
    margin-left: 3%;
    margin-top: 15px;
}

.social-media-new{
    margin-right: 3%;
    margin-top: -46px;  
}

