.gamebody{
    background-color: #F6F6F6;
}
.breadCrum{

    width: 100%;
    background-color: #DADADA;
    height: 40px;
    float: left;
    
}

.breadCrum p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: rgba(0, 0, 0, 0.72)
}

.headLog{
    width: 100%;
    height: 200px;
     /* background-color: aqua;  */
     background-color: #F6F6F6;
    float: left;
}

.gmMainLOGO{

    width: 30%;
    height: 200px;
    /* background-color: bisque; */
    margin-left: 4%;
    float: left;

}



.imgGlogo{

    float: left;
    height: 40%;
    width: 20%;
    margin-top: 4%;
}

.glPName{

    font-weight:bolder;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 35px;
    transform: translate(-3%,-10%);
    float: left;
}

.descGLP{

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transform: translate(22%,-120%);
    float: left;


}

.instrcutionBtn{

    background-color:#FF2525;
    height: 35px;
    width: 34%;
    float: left;
    transform: translate(58%,-190%);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gmMainButton{


    width: 60%;
    height: 200px;
    /* background-color: bisque; */
    margin-left: 4%;
    float: left;

}

.LeaderBoardButton{

   
    height: 60px;
    width: 35%;
    float: left;
    margin-top: 80px;
    margin-left: 16%;
    background: #FF2525;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2.67px;
}

.LeaderBoardButton p{
 
    text-align: center;
    color: white;
    transform: translate(0%,-37%);
    font-size: 24px;
    font-family: Poppins;
    font-style: normal;
    line-height: 36px;

}

.TotalScore{
    background-color:#8FF7A7;
    height: 60px;
    width: 35%;
    float: left;
    margin-top: 80px;
    margin-left: 5%;
    border-radius: 11px;
}

.TotalScore p{
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    color: black;
    transform: translate(0%,-37%);
    font-size: 24px;
    font-family: Poppins;
    font-style: normal;
    line-height: 36px;

}


.gameCardGroupMain{


    width: 100%;
    height: 700px;
    /* background-color: rgb(39, 119, 23);  */
    background-color: #F6F6F6;
    float: left;
}

.gameCardGroup{


    width: 85%;
    height: 500px;    
    background: #E5EBFF;
    float: left;
    margin-left: 7.5%;
   

}

.quizGameCard{

    width: 30%;
    height: 420px;
    background: #ffffff;
    margin-left: 3%;
    margin-top: 40px;
    float: left;
}

#imageQuiz{
    width: 60%; height: 190px; margin-left: 21%; margin-top: 35px;
}

.memoryGameCard{

    width: 30%;
    height: 420px;
    background: #ffffff;
    margin-left: 2%;
    margin-top: 40px;
    float: left;
}

#imageMemeory{
    width: 50%; height: 175px; margin-left: 25%; margin-top: 35px;
}
.spinGameCard{

    width: 30%;
    height: 420px;
    background: #ffffff;
    margin-left: 2%;
    margin-top: 40px;
    float: left;
}

#imageSpin{
    width: 100%; height: 205px; margin-left: 1%; margin-top: 35px;
}
.gamelogo{

    width: 100%;
    height:220px ;
    
}

.gameDescription{

    width: 100%;
    height: 200px;
   
}

.gameDescription h1{

font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;

align-items: center;
text-align: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.gameDescription p{

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;

}



#playButtonQuiz {
    background: #15317A !important;
    border-radius: 2.67px !important;  
    width:40% ;
    height: 20px;
    left: 28%;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

#playButtonMemory {
    background: #15317A !important;
    border-radius: 2.67px !important;  
    width:40% ;
    height: 20px;
    left: 28%;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

} 

#playButtonSpin {
    background: #15317A !important;
    border-radius: 2.67px !important;  
    width:40% ;
    height: 20px;
    left: 28%;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 


.toShop{
    float: left;
    width: 22%;
    height: 70px;
    margin-left: 70.5%;
    margin-top: 28px;
  

background: #15317A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2.67px;
}


.toShop p{

    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;


text-align: center;

margin-top: 16px;
color: #FFFFFF;
}


.imgLogo{
    margin-left: 30%;
}

#instructions{
    width: 600px;
    margin-left: 50%;
    margin-top: 100px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 15px;
}
.rules{
    margin-left: 10%;
}

.rules p{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

.understood{
float: left;
width: 40%;
height: 70px;
margin-left: 30%;
margin-top: 24px;
background: #15317A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2.67px;

}

.understood p{

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
margin-top: 16px;
color: #FFFFFF;

}

@media only screen and (min-width: 834px) and (orientation: portrait) { 

    .imgGlogo{

        float: left;
        height: 40%;
        width: 25%;
        margin-top: 4%;
    }

    .glPName{
        font-size: 30px;
        transform: translate(25%,-220%);
        float: left;
    }

    .descGLP{
        font-size: 13px;
        transform: translate(25%,-350%);
        float: left;
    }

    .instrcutionBtn{
        height: 35px;
        width: 42%;
        float: left;
        transform: translate(55%,-350%);
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

 

.LeaderBoardButton{
    height: 50px;
}
    
.LeaderBoardButton p{
    transform: translate(0%,-40%);
    font-size: 20px;

}

.TotalScore{
    height: 50px;
    width: 37%;
}
.TotalScore p{
    transform: translate(0%,-40%);
    font-size: 18px;
}

.gameCardGroup{
    width: 87%;
}


.gameDescription p{
    font-size: 12px;
}


#imageQuiz{
    width: 60%; height: 155px; margin-left: 21%; margin-top: 35px;
}

#imageMemeory{
    width: 50%; height: 145px; margin-left: 25%; margin-top: 35px;
}

#imageSpin{
    width: 99%; height: 185px; margin-left: 0%; margin-top: 20px;
}

#playButtonQuiz {
 
    left: 23%;

} 

#playButtonMemory {
   
    left: 23%;
 

} 

#playButtonSpin {

    left: 23%;

} 

.toShop p{
    margin-top: 10px;
    font-size: 18px;
}

.toShop{
    height: 55px;
    width:25% ;
    margin-left: 69.5%;

}


#instructions{
    width: 600px;
    margin-left: 20%;
    margin-top: 250px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 15px;
}






}

