.ListPageBody{
    width: 100%;
    /* background-color: yellow; */
    height: 500px;  
    
}


.breadCrum {
    width: 100%;
    background-color: #DADADA;
    height: 40px;
    float: left;
}

.breadCrum p{
    font-family: Poppins;
    margin-left: 5%;
    margin-top: 0.9%;
    color: rgba(0, 0, 0, 0.72);
}


.pageTopHeader{
    width: 100%;
    height: 160px;
/* 
    background-color: chocolate; */
}

.ui-block-a{
    width: 60%  !important;
 
}

.ui-block-b{
    width: 40% !important;
}

.ui-bar-a{
    background-color: #F6F6F6 !important;
    border-style:none !important;
}

.pageHeadingContainer{
    width: 100%;
    height: 90px;
    
}

.pageHeadingContainer h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;  
    text-align: center; 
    color: #000000;
    margin-left: 5%;
    margin-top: 10px;
}

.pageHeadingContainer p{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: #000000;
margin-left: 5.2%;
margin-top: 20px;
}

.numberOfItems{
    width: 100%;
    height: 40px;    
    float: left;
}

.numberOfItems p{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-left: 70%;
    margin-top: 10px;
}

.paginationContainer{
    width: 100%;
    height: 51px;
    background-color: rgb(90, 90, 107);
    float: left;
}

.horizontalLine{
    width: 100%;
    height: 10px;
    float: left;
}

.lineAcross{
    width: 90%;
    height: 2px;
    border-top: 2px solid black;
    margin-left: 5%;
    margin-top: 5px;
}

.FilterContainer{
    width: 100%;
    /* background-color: coral; */
    height: 90px;
    float: left;
    margin-top: 10px;
}

.productfilters{
    width: 90%;
    height: 100px;
    float: left;
    margin-left: 5%;
}

.searchFilterContainer{
    height: 80px;
    width: 40%;
    float: left;
}

#searchFor{
    border: none;
    background: #FFFFFF !important;
border: 4px solid #000000 !important;
border-radius: 5px !important;
height: 45px !important;
width: 108% !important;
}

.midFilterContainer{
    height: 80px;
    width: 52%;
    float: left;
   
}

.ui-controlgroup-controls{
    
    width: 100% !important;
    margin-left: 7% !important;
} 
.ui-select{
    background: #FFFFFF !important;
border: 0.5px solid #000000 !important;
border-radius: 5px !important;
width: 28% !important;
float: left;
margin-left: 2%!important;

}
.ui-icon-carat-d:after{
    background-color: black !important;
}
#BrandFilter-button{
    text-align: left !important;
}

.addFilterContainer{

    height: 80px;
    width: 8%;
    float: left;
}


.addFilterButton{
    float: left;
    width:85%;
    height: 34.45px;
    background: #15317A !important;
    border-radius: 5px !important; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.67px;
    margin-left: 18.5%;
    margin-top: 12px;
    }
    
.addFilterButton p{
    margin-top: 5px;
    font-family: Poppins;
font-style: normal; 
font-size: 14px;
line-height: 21px;
align-items: center;
text-align: center;
color: #FFFFFF;
       
}




.extraFilter{
    height: 60px;
    width: 57%;
    float: left;
    visibility: hidden;

}

.extraFilter select{
    margin-left: 0% !important;
}

/* 00 */

.productListDisplay{
    width: 90%;
    height: 400px;
    
    float: left;
    margin-left: 5%;
}

.card{
    width: 22.5%;
    height: 385px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    float: left;
    margin-left: 2.2%;
    margin-top: 10px;
}
.cardheader{
    width: 100%;
    float: left;
  

}
.cardHeart{
    width: 100%;
    height: 30px;
    float: left;
  
}
/* .heart-icon{
    width: 28%;
    margin-left: 10%;
    margin-top: 5px;
} */
#wishIcon{
    font-size: 35px;
    margin-left: 10%;
}

.addToWishL{
    width: 40%;
    float: left;
}

.discounted{
    width: 60%;

    height: 35px;
    float: left;
}
.cardHeart i{
    font-size: 23px;
    margin-left: 10%;
    margin-top: 10px;
}
.cardImage{
    float: left;
    height: 142px;
     width: 100%;
}

.card-img-top{
    width: 52%;
    height: 142px;
    margin-left: 25%;
}

.card-body{
    width: 100%;
    float: left;
   
}

.product_title{
    width: 100%;
    float: left;
}

.card-title{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
align-items: center;
text-align: center;

color: #000000;
}

.product_sub_info{
    width: 100%;
    float: left;
 
}

.product_type{
    width: 50%;
    float: left;
}

.product_type p{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
margin-left: 15%;
color: #545454;
}

.product_rating{
    width: 50%;
    float: left;
}

.product_rating span{
    color: gold;
    font-size: 18px;
    margin-left: 58%;
    text-shadow: none
}

.product_rating p {
    font-family: poppins;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;

color: #545454;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.34);
}

.product_description{
    width: 100%;
    float: left;
}

.card-text{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
text-align: center;
color: #000000;
width: 90%;
margin-left: 5%;

}

.product_price{
    width: 100%;
    float: left;
}

.product_price p{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 31px;
margin-left: 40%;
color: rgba(255, 37, 37, 0.99);
}

.product_footer{
    width: 100%;
    float: left;
    /* background-color: rgb(54, 194, 124);  */
}

.QuanitityContainer{
    width: 50%;
    float: left;
    /* background-color: greenyellow; */
    margin-top: 6px;
}
.addToCartContainer{
    width: 50%;
    float: left;
}

#quantity{
margin-left: 3%;
}

#plusButton{
    width: 30%;
    background: #FFFFFF;
border: 0.508571px solid rgba(0, 0, 0, 0.24);
box-sizing: border-box;
border-radius: 7px;
    margin-left: 12%;
}

#minusButton{
    width: 30%;
    margin-left: 2%;
    background: #FFFFFF;
border: 0.508571px solid rgba(0, 0, 0, 0.24);
box-sizing: border-box;
border-radius: 7px;
}




#playButtonQuiz {
    background: #15317A !important;
    border-radius: 2.67px !important;  
    width:40% ;
    height: 30px;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
} 

.continue{
    float: left;
    width:80%;
    height: 34.45px;
    background: #15317A !important;
    border-radius: 2.67px !important; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.67px;
    margin-left: 7.5%;
    margin-top: 5px;
    }
    
.continue p{
    margin-top: 5px;
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
align-items: center;
text-align: center;
color: #FFFFFF;
       
}





.footer{
    float: left;
    margin-top: 60px;
    width: 100%;
}


@media only screen and (min-width: 1024px) and (orientation: portrait) { 

    .card{
        width: 30%;
    }

}