#title{
    font-weight: bolder;
    text-align: center;
    font-size: 3.5em;
    border-bottom: 5px solid rgba(255, 37, 37, 0.99);;
    margin:0em 4.5em 0.5em 4.5em;   
}
#about-description{
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    font-size: larger;
}
#about-mission{
    display: flex;
    flex-direction: row;
    margin: 2em 0em;
}
#about-mission>img{
    width: 18em;
}
#mission-statement{
    text-align: center;
    padding: 3em 1em;
    font-weight: bold;
}
#mission-statement>p{
    font-style: italic;
    padding-top: 1em;
    font-size: 1.2em;
}
#locations-headline{
    display: flex;
    padding: 0.5em 13em;
}
#locations-headline>h2{
    padding-top: 1.3em;
}
#usa-locations-map{
    width: 33em;
    height: auto;
    margin: 0.5em 9em;
}
.location-details{
    padding: 1em;
    background-color: white;
}
.location-details>h3{
    color: #FF2525;
    font-weight: bolder;
}

.outlet-map-and-content{
    display: flex;
    flex-direction: row;
    gap:3em;
    margin: 3em;
}
.currentloc{
    display: flex;
}
#start-shopping-cta{
    text-align: center;
    background-color: #E5EBFF;
    padding: 2em;
    font-size: 1.5em;
}
