@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

body,span{
  font-family: "Poppins", sans-serif;
}

#logo {
  padding-top: 0.8em;
}
#nav-content {
  display: flex;
  flex-direction: row;
}
#nav-content .fa {
  font-size: x-large;
  padding: 1em;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 55px;
  left: 0;
  border-right: 1px solid #F1F1F1;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  width: 270px;
  font-size: 16px !important;
  font-family: "Century Gothic";
  color: #4B4B4B;
  font-weight: 100;
  border-left: none;
  border-color: #f1f1f1 !important;
  border-bottom: 1px solid #f1f1f1 !important;
  text-align: left;
  background-color: white !important;
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.item-list {
  top: -30px;
}

.item-heading {
  font-weight: 700 !important;
  top: -30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  font-size: 36px !important;
  background-color: white;
  border: none;
  right: 5px;
  text-align: right;
  top: -25px;
}
.breadCrum{
  background-color: #DADADA;
}
.breadCrum p{
  margin-bottom: 0;
  margin-top: 0.2em;
  padding-left: 2em;
}
.mrgb-1 {
  margin-bottom: 1em;
}
.checked {
  color: orange;
}
.unchecked{
    color:grey;
}
.content-section-title{
    color: #15317A;
    font-weight: bolder;
}
.progress{
  height: 1em;
  border-radius: 8em;
  background: #E9E9E9;
  flex:4;
  margin-top: 0.5em;
}
.progress-bar{
  background-color: rgb(85, 85, 85);
}
.rating-bar{
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  font-weight: 700;
  margin-bottom: .8em;
}
.footer-content{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 2em;
}
.full-white-bg{
  width: 100%;
  margin: 0;
  padding: 2em 1.2em;
  background-color: white;
}
.vector-section-title{
  width: 7em;
}
#ratings-container{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
}
#rating-numeric{
  flex:1;
}
#ratingOutOfFive{
  font-weight: 900;
  font-size: 5em;
  margin-bottom: 0.2em;
}
#ratingOutOfFive>span{
  font-size: 0.5em;
}
#rating-bars{
  flex:1;
}
#starsOutOfFive{
font-weight: 900;
font-size: 1.5em;
margin-bottom: 0.2em;
}
#starsOutOfFive>span{
margin-left: 0.5em;
}
.feedback-popup{
  width: 564px;
  padding: 3em 2em;
  height: auto;
  background: #FFFFFF;
  border-radius: 15px;
  text-align: center;
}
.fa-check-circle{
  color: #23C016;
  font-size: 5em;
}
#fav-icon{
  color: red;
  font-size: 1.5em;
  margin-right: 0.5em;
  display: none;
}