#title{
    font-weight: bolder;
    text-align: center;
    font-size: 3.5em;
    border-bottom: 5px solid rgba(255, 37, 37, 0.99);;
    margin:0em 4.5em 0.5em 4.5em;   
}
#about-description{
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    font-size: larger;
}
#about-mission{
    display: flex;
    flex-direction: row;
    margin: 2em 0em;
}
#about-mission>img{
    width: 18em;
}
#mission-statement{
    text-align: center;
    padding: 3em 1em;
    font-weight: bold;
}
#mission-statement>p{
    font-style: italic;
    padding-top: 1em;
    font-size: 1.2em;
}